Repository Dv04/aixavier, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edge-ai-admins, @edge-config, @edge-docs, @edge-agent

Refactor agent module for enhanced functionality and documentation
  .github/workflows/agent-refresh.yml
  HANDOFF.md
  README.md
  docs/MODELS.md
  docs/datasets.md
  docs/placeholders.md
  src/agent/main.py
  src/agent/rank/rank.py
  src/agent/webscan/scan.py
  src/agent/writer/apply.py
Owners: @edge-ai-admins, @edge-docs, @edge-agent

docs: Add next steps documentation for Aixavier Edge Analytics Stack
  docs/next_steps.md
Owners: @edge-docs

Add ONNX model support for pose estimation and object detection
  AGENTS.md
  HANDOFF.md
  README.md
  Rice - Repo review and next steps.pdf
  configs/detectors/action.yaml
  configs/detectors/face.yaml
  configs/detectors/object.yaml
  configs/detectors/pose_velocity.yaml
  docker-compose.yml
  docs/MODELS.md
  docs/next_steps.md
  docs/placeholders.md
  models/bootstrap_models.py
  models/pose/onnx/README.md
  models/usecases/README.md
  models/yolo/onnx/README.md
  requirements.txt
  src/rules/engine.py
  src/runners/Dockerfile.pose
  src/runners/detectors.py
  src/runners/main.py
  src/runners/postprocess.py
  src/trackers/__init__.py
  src/trackers/bytetrack.py
  tests/test_detectors.py
  tests/test_tracker.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

Add RTMPose pipeline configuration and update YOLO TODO list
  .gitignore
  README.md
  configs/detectors/object.yaml
  configs/detectors/pose_velocity.yaml
  docs/IMPLEMENTATION_STATUS.md
  docs/next_steps.md
  models/pose/README.md
  models/pose/TODO.md
  models/usecases/README.md
  models/usecases/pose/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/deploy.json
  models/usecases/pose/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/detail.json
  models/usecases/pose/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/output_onnxruntime.jpg
  models/usecases/pose/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/output_pytorch.jpg
  models/usecases/pose/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/pipeline.json
  models/yolo/TODO.md
  src/ingest_gst/main.py
  src/ingest_gst/pipeline.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

Pose detector is up and running
  HANDOFF.md
  Makefile
  README.md
  docs/IMPLEMENTATION_STATUS.md
  docs/next_steps.md
  models/pose/TODO.md
  src/__init__.py
  src/apps/__init__.py
  src/apps/live_demo.py
  src/exporter/main.py
  src/ingest_gst/healthcheck.py
  src/ingest_gst/main.py
  src/ingest_gst/pipeline.py
  src/runners/detectors.py
  src/runners/main.py
  src/runners/pose_assoc.py
  src/runners/renderer.py
  src/trackers/__init__.py
  src/trackers/bytetrack.py
  tests/conftest.py
  tests/test_detectors.py
  tests/test_event_bus.py
  tests/test_exporter.py
  tests/test_healthcheck.py
  tests/test_pose_assoc.py
  tests/test_tracker.py
  tests/test_tracker_manager.py
Owners: @edge-ai-admins, @edge-docs

docs: Update TODO and development documentation for pose detection pipeline
  models/pose/TODO.md
  models/pose/development.md
Owners: @edge-ai-admins

Add Aixavier core modules and use case management
  All Data Analytics use cases for CCTV under POC.xlsx
  assets/usecases/catalog.yaml
  configs/detectors/pose_velocity.yaml
  docs/IMPLEMENTATION_STATUS.md
  docs/next_steps.md
  docs/placeholders.md
  models/pose/onnx/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/deploy.json
  models/pose/onnx/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/detail.json
  models/pose/onnx/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/output_onnxruntime.jpg
  models/pose/onnx/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/output_pytorch.jpg
  models/pose/onnx/rtmpose_onnx/rtmpose-m_simcc-body7_pt-body7_420e-256x192-e48f03d0_20230504/pipeline.json
  src/aixavier/__init__.py
  src/aixavier/core/__init__.py
  src/aixavier/core/usecases.py
  src/rules/engine.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

chore: track 22 use-case stages and reorganise model folders
  README.md
  configs/detectors/action.yaml
  configs/detectors/fire_smoke.yaml
  configs/detectors/gesture.yaml
  docs/IMPLEMENTATION_STATUS.md
  docs/MODELS.md
  docs/placeholders.md
  models/action/LICENSE.txt
  models/action/README.md
  models/action/calibrate.sh
  models/action/download.sh
  models/action/export_trt.sh
  models/audio/README.md
  models/bootstrap_models.py
  models/object/LICENSE.txt
  models/object/README.md
  models/object/TODO.md
  models/object/calibrate.sh
  models/object/download.sh
  models/object/export_trt.sh
  models/object/onnx/README.md
  models/telemetry/README.md
Owners: @edge-ai-admins, @edge-config, @edge-docs

feat(docs): Enhance setup and onboarding documentation
  README.md
  docs/IMPLEMENTATION_STATUS.md
  docs/SETUP.md
  docs/next_steps.md
  models/pose/TODO.md
  src/aixavier/ui/README.md
  src/aixavier/ui/__init__.py
  src/aixavier/ui/api.py
  src/aixavier/ui/event_browser.py
  src/aixavier/ui/frontend_stub.py
  src/aixavier/ui/roi_editor.py
  src/aixavier/ui/toggles.py
  src/exporter/main.py
  src/runners/main.py
  src/trackers/__init__.py
  src/trackers/bytetrack.py
  src/trackers/osnet_reid.py
  tests/test_detectors.py
  tests/test_e2e_demo.py
  tests/test_tracker_reid.py
Owners: @edge-ai-admins, @edge-docs

feat: Add face detection and recognition detectors, integrate with existing pipeline
  .gitignore
  configs/usecases/face_recognition.yaml
  docs/IMPLEMENTATION_STATUS.md
  docs/placeholders.md
  models/face/TODO.md
  src/recorder/circular_buffer.py
  src/runners/detectors.py
  src/trackers/bytetrack.py
  src/trackers/osnet_reid.py
  tests/test_circular_buffer.py
  tests/test_placeholders_smoke.py
  tests/test_tracker_reid.py
  tools/placeholder_lint.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

feat: Add demo patch for pose-based use cases including collapse, hand gestures, and phone usage detection
  aixavier_patch_day0/configs/telemetry.demo.yaml
  aixavier_patch_day0/configs/usecases/hand_gesture_signal_identification.demo.yaml
  aixavier_patch_day0/configs/usecases/medical_emergency_collapse.demo.yaml
  aixavier_patch_day0/configs/usecases/mobile_phone_usage_detection.demo.yaml
  aixavier_patch_day0/docs/README_demo_patch.md
  aixavier_patch_day0/src/apps/demo_runner.py
  aixavier_patch_day0/src/common/event_bus.py
  aixavier_patch_day0/src/models/collapse.py
  aixavier_patch_day0/src/models/gesture.py
  aixavier_patch_day0/src/models/phone.py
  aixavier_patch_day0/src/runners/postprocess.py
  aixavier_patch_day0/src/telemetry/ingest.py
  aixavier_patch_day0/tests/test_uc20_gesture.py
  aixavier_patch_day0/tests/test_uc22_phone.py
  aixavier_patch_day0/tests/test_uc8_collapse.py
  configs/telemetry.demo.yaml
  configs/usecases/hand_gesture_signal_identification.demo.yaml
  configs/usecases/medical_emergency_collapse.demo.yaml
  configs/usecases/mobile_phone_usage_detection.demo.yaml
  docs/README_demo_patch.md
  models/pose/TODO.md
  src/apps/demo_runner.py
  src/common/event_bus.py
  src/models/__init__.py
  src/models/collapse.py
  src/models/gesture.py
  src/models/phone.py
  src/runners/postprocess.py
  src/telemetry/__init__.py
  src/telemetry/ingest.py
  tests/test_uc20_gesture.py
  tests/test_uc22_phone.py
  tests/test_uc8_collapse.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

Implement PoseUseCaseMonitor for pose-driven event detection
  .gitignore
  README.md
  Screenshot 2025-11-12 at 10.17.47 PM.png
  VIDEO-2025-11-06-01-33-38.mp4
  aixavier_patch_day0/configs/telemetry.demo.yaml
  aixavier_patch_day0/configs/usecases/hand_gesture_signal_identification.demo.yaml
  aixavier_patch_day0/configs/usecases/medical_emergency_collapse.demo.yaml
  aixavier_patch_day0/configs/usecases/mobile_phone_usage_detection.demo.yaml
  aixavier_patch_day0/docs/README_demo_patch.md
  aixavier_patch_day0/src/apps/demo_runner.py
  aixavier_patch_day0/src/common/event_bus.py
  aixavier_patch_day0/src/models/collapse.py
  aixavier_patch_day0/src/models/gesture.py
  aixavier_patch_day0/src/models/phone.py
  aixavier_patch_day0/src/runners/postprocess.py
  aixavier_patch_day0/src/telemetry/ingest.py
  aixavier_patch_day0/tests/test_uc20_gesture.py
  aixavier_patch_day0/tests/test_uc22_phone.py
  aixavier_patch_day0/tests/test_uc8_collapse.py
  configs/detectors/pose_velocity.yaml
  docs/IMPLEMENTATION_STATUS.md
  src/runners/detectors.py
  src/runners/main.py
  src/runners/pose_events.py
  src/runners/renderer.py
  tests/test_pose_events.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

Refactor code structure for improved readability and maintainability
  .gitignore
  README.md
  Screenshot 2025-11-12 at 10.17.47 PM.png
  VIDEO-2025-11-06-01-33-38.mp4
  configs/detectors/gesture.yaml
  configs/detectors/object.yaml
  configs/detectors/pose_velocity.yaml
  docs/IMPLEMENTATION_STATUS.md
  docs/MODELS.md
  models/bootstrap_models.py
  models/object/LICENSE.txt
  models/object/README.md
  models/object/calibrate.sh
  models/object/download.sh
  models/object/export_trt.sh
  models/object/onnx/README.md
  models/pose/LICENSE.txt
  models/pose/README.md
  models/pose/calibrate.sh
  models/pose/development.md
  models/pose/download.sh
  models/pose/export_trt.sh
  models/pose/onnx/README.md
  models/usecases/README.md
  src/runners/detectors.py
Owners: @edge-ai-admins, @edge-config, @edge-docs

Refactor code structure for improved readability and maintainability
  context.txt
  docs/summary.md
  docs/summary.pdf
  repository_context.txt
  textual_context.txt
Owners: @edge-ai-admins, @edge-docs

refactor: remove unused components and clean up codebase
  .env.example
  app/company/page.tsx
  app/contact/page.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/platform/page.tsx
  app/providers.tsx
  app/security/page.tsx
  app/solutions/page.tsx
  components/Architecture.tsx
  components/BentoGrid.tsx
  components/Hero.tsx
  components/PointField.tsx
  components/Terminal.tsx
  components/WedgeTabs.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/sections/home/ArchitectureTeaser.tsx
  components/sections/home/CTA.tsx
  components/sections/home/PatternsTeaser.tsx
  components/sections/home/SecurityTeaser.tsx
  components/sections/home/SocialProof.tsx
  components/sections/home/ValueProps.tsx
  components/ui/HUD.tsx
  package-lock.json
  package.json
  textual_context.txt
Owners: @edge-ai-admins

.github/CODEOWNERS:

* @edge-ai-admins
configs/** @edge-config
docs/** @edge-docs
src/agent/** @edge-agent
